@charset "UTF-8"

.myportfolioweb2 {
    width: 500px;
    margin: auto;
}
.myportfolioweb2 li {
    margin: 36px 0 0 36px;
}
.home-content h4, .home-content p {
    text-align: center;
    white-space: nowrap;
}